canvas {
    width: 1280px;
    height: 720px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 2px solid black;
    background: #cceeff
}

#title {
    font-size: 12px;
    color: white;
}

#game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #1e1e1e;
}

#chat-container {
    position: absolute;
    top: 2%;
    left: 12.5%;
    transform: translateX(-50%);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#chat-log {
    height: 100px;
    overflow-y: auto;
    background: rgba(0,0,0,0.6);
    color: white;
    font-family: monospace;
    font-size: 14px;
    border: 1px solid #333;
    margin-bottom: 4px;
}

#chat-input {
    height: 24px;
    font-size: 14px;
    padding: 4px;
    font-family: monospace;
}

#openCommandsBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    font-family: monospace;
}


#commands {
    position: absolute;
    top: 50px;
    right: 20px;
    color: black;
    background: #999999;
    padding: 10px;
    border: 2px solid black;
    z-index: 10px;
    display: none;
    max-height: 300px;
    overflow-y: auto;
    font-family: monospace;
}

.wardrobe-section{
    margin-bottom: 10px;
}

.wardrobe-section div {
    cursor: pointer;
    padding: 4px;
    border: 1px solid #ccc;
    margin: 2px 0;
    background: #eee;
}
.wardrobe-section div:hover {
    background: #ddd;
}

#openCommandsBtn {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 5;
    font-family: monospace;
}

#message{
    color: white;
    position: absolute;
    font-family: monospace;
}

#action {
    position: absolute;
    top: 50px;
    right: 20px;
    color: black;
    background: #999999;
    padding: 10px;
    border: 2px solid black;
    z-index: 10px;
    display: none;
    max-height: 300px;
    overflow-y: auto;
    font-family: monospace;
}

.action-section {
    margin-bottom: 10px;
}

.action-section div {
    cursor: pointer;
    padding: 4px;
    border: 1px solid #ccc;
    margin: 2px 0;
    background: #eee;
    font-family: monospace;
}
.action-section div:hover {
    background: #ddd;
}
